{
  "openapi": "3.0.1",
  "info": {
    "title": "Microsoft Graph (app-only)",
    "version": "1.0",
    "description": "Microsoft Graph endpoints callable with an app-only (client_credentials) token. Delegated-only endpoints like /me are intentionally excluded \u2014 an app-only token has no signed-in user to resolve them against."
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0"
    }
  ],
  "paths": {
    "/users/{mailboxAddress}/messages": {
      "get": {
        "operationId": "listSharedMailboxMessages",
        "summary": "List messages in a shared mailbox inbox (read the shared email inbox)",
        "description": "Reads the most recent messages of the shared mailbox the signed-in user has access to (Mail.Read.Shared).",
        "parameters": [
          {
            "name": "mailboxAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Shared mailbox SMTP address, e.g. loan.ops@example.com"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Max messages"
          },
          {
            "name": "$search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Free-text search, e.g. \"CASCADE paydown\""
          }
        ],
        "responses": {
          "200": {
            "description": "Messages list"
          }
        }
      }
    },
    "/users/{mailboxAddress}/sendMail": {
      "post": {
        "operationId": "sendSharedMailboxMail",
        "summary": "Send an email from the shared mailbox (Mail.Send.Shared)",
        "description": "Sends a message as the shared mailbox, e.g. an outbound counterparty request drafted by the agent and approved by an analyst.",
        "parameters": [
          {
            "name": "mailboxAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Shared mailbox SMTP address the message is sent from"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "object",
                    "properties": {
                      "subject": {
                        "type": "string"
                      },
                      "body": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "enum": [
                              "Text",
                              "HTML"
                            ]
                          },
                          "content": {
                            "type": "string"
                          }
                        }
                      },
                      "toRecipients": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "emailAddress": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "saveToSentItems": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "operationId": "getUserProfile",
        "summary": "Get a user's profile by id or userPrincipalName (app-only)",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User id (GUID) or userPrincipalName, e.g. jane@contoso.com"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile"
          }
        }
      }
    },
    "/sites": {
      "get": {
        "operationId": "searchSharePointSites",
        "summary": "Search SharePoint sites by name",
        "description": "Searches SharePoint sites the user has access to. Requires Sites.Read.All admin consent.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search query for SharePoint site name (e.g. 'engineering').",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching SharePoint sites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}